#egg {
  height: 100px;
  width: 100px;
  background-color: yellow;
  background-image: url("../images/aapath.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: solid 1px black;
  position: absolute;
  top: 50px;
  left: 50px;
}

#box {
  height: 120px;
  width: 140px;
  background-color: red;
  border: solid 2px black;
  position: absolute;
  top: 760px;
}
